<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275013662087-unj3f8s2aga58mkeh5gn39gjhv4lrgmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275013662087-unj3f8s2aga58mkeh5gn39gjhv4lrgmc</string>
	<key>API_KEY</key>
	<string>AIzaSyB0GqmivHA2tbI7zkNaQ_Db3jHH4CeowU4</string>
	<key>GCM_SENDER_ID</key>
	<string>275013662087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.deali.Sinsangmarket</string>
	<key>PROJECT_ID</key>
	<string>tourguideproject-30ab9</string>
	<key>STORAGE_BUCKET</key>
	<string>tourguideproject-30ab9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275013662087:ios:684d36b51dde21524bcf22</string>
	<key>DATABASE_URL</key>
	<string>https://tourguideproject-30ab9.firebaseio.com</string>
</dict>
</plist>